<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        <input type="text" name="name" id="name" placeholder="Your Name">
        <input type="email" name="email" id="email" placeholder="Your Email">
        <input type="number" name="age" id="age" placeholder="Your Age">
        <input type="text" name="address" id="address" placeholder="Your Address">
        <textarea name="bio" id="bio" placeholder="Your Bio"></textarea>
        <textarea name="hobbies" id="hobbies" placeholder="Your Hobbies"></textarea>
        <button type="submit">Add User</button>
    </form>
</body>
</html>