<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/<%= user._id %>" method="post">
        <input type="text" name="name" id="name" value="<%= user.name%>">
        <input type="number" name="age" id="age" value="<%= user.age%>">
        <input type="email" name="email" id="email" value="<%= user.email%>">
        <button type="submit">Update User</button>
    </form>
</body>
</html>